body {
background-color: pink;
}

#heading {
	color: blue;
}

#bodytext {
  color:red;
}

.knowledge {
font-family: serif;
font-color: green;
font-weight: bold;
}

a:hover {
  font-weight: bold;
  color: black;  
}


